# pandas

In [37]:
import numpy as np

In [38]:
import pandas as pd

In [39]:
dates = pd.date_range('20181205',periods=6)

In [40]:
dates

DatetimeIndex(['2018-12-05', '2018-12-06', '2018-12-07', '2018-12-08',
               '2018-12-09', '2018-12-10'],
              dtype='datetime64[ns]', freq='D')

In [41]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('abcd'))

In [42]:
df

                   a         b         c         d
2018-12-05  1.042858 -1.517499 -0.893357 -1.083218
2018-12-06  0.505946  0.368404 -1.369853  1.203522
2018-12-07  0.091071  0.864026 -0.613935 -0.161677
2018-12-08  0.791359 -0.514177 -0.180630  0.587285
2018-12-09  0.927072  0.698827 -0.451677 -0.525575
2018-12-10 -0.351509  1.486617  1.989376 -0.313156

In [43]:
fj = pd.read_csv('chargeInfo.txt',delim_whitespace=True,header=None,index_col=None)

In [44]:
fj.head()

               0             1    2       3     4         5        6
0  3011056075583  106101233729  1**  南湖国际社区  3室2厅  129.72平米  近30天内成交
1  3011056075583  106100710202   1*  南湖国际社区  1室0厅      30平米  近30天内成交
2  3011056075583  106101784218  2**  南湖国际社区  4室2厅   177.5平米  近30天内成交
3  3011056075583  106101744748  1**  南湖国际社区  3室2厅  128.73平米  近30天内成交
4  3011056075583  106101591701  1**  南湖国际社区  3室2厅     135平米  近30天内成交